@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: red;
}

.blue {
    color: blue;
}

a {
    font-weight: bold;
}

.em {
    font-style: italic;
}
